<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="stylesheet" href="../static/style/main.css">
</head>
<body>
    <header>
        <div class="ALL_header_menu">
            <div class="logo-container">
                <h1>hobby</h1>
            </div>
            <div class="top_menu">
                <ul>
                    <a href="index.html"><li>Home</li></a>
                    <a href="about.html"><li>About me</li></a>
                    <a href="contacts.html"><li>Contacts</li></a>
                </ul>
            </div>
        </div>
    </header>
    <br>
    <content class="ALL_content">
        <h2>Немного обо мне</h2>
        <hr class="hr-two-color">
        <div class="container">
            <img src="file:///C:/Users/Forse/PycharmProjects/my%20hobby/static/img/support.png" alt="Your Image" width="410" height="240" class="float-right">
            <p>Меня зовут Александр, понял для себя что мне нравится разработка, в частности используя Python.
                Ранее писал небольшие скрипты для автоматизации рутинных задач, теперь осознал что хочу работать в этой сфере.
                Моё хобби - это настольный футбол (кикер), играю на любительском уровне;)</p>
        </div>
    </content>
</body>
<footer class="footer">
    <p>Все права защищены 2024<a href="https://github.com/jforsety">🐱</a></p>
</footer>
</html>