<!DOCTYPE html>
<html>
<head>
    <title>My hobby</title>
    <link rel="stylesheet" href="../static/style/main.css">
</head>
<body>
    <header>
        <div class="ALL_header_menu">
            <div class="logo-container">
                <h1>hobby</h1>
            </div>
            <div class="top_menu">
                <ul>
                    <a href="index.html"><li>Home</li></a>
                    <a href="about.html"><li>About me</li></a>
                    <a href="contacts.html"><li>Contacts</li></a>
                </ul>
            </div>
        </div>
    </header>
    <br>
    <content class="ALL_content">
        <h2>Настольный футбол</h2>
        <hr class="hr-two-color">
        <div class="container">
            <img src="file:///C:/Users/Forse/PycharmProjects/my%20hobby/static/img/hobby.jpeg" alt="Your Image" width="410" height="240" class="float-right">
            <p>Настольный футбол (кикер) - динамичная игра, имеющая миллионы поклонников во всем мире. Создана она по аналогии с классическим футболом, только вместо футболистов голы тут забиваются фигурками игроков. Появление этой игры датируется началом XX века. Доподлинно известно, что в первые тридцать лет двадцатого столетия было запатентовано достаточное количество игр, напоминающих современный настольный футбол.</p>
        </div>
    </content>
</body>
<footer class="footer">
    <p>Все права защищены 2024<a href="https://github.com/jforsety">🐱</a></p>
</footer>
</html>